<div class="detail-section">
    <h1 class="detail-title">today's weather</h1>
    <div class="detail-container">
        @if (detailWeather){
        <div class="today-container">
            @for (weather of dailyWeathers; track weather){
            @if (weather){
            <app-one-day-detail [weather]="weather"></app-one-day-detail>
            }
            }
        </div>
        <div class="remain-container">
            @for (weather of remainingDays; track weather){
            @if (weather){
            <app-daily-detail [weather]="weather"></app-daily-detail>
            }
            }
        </div>
        }
        @else{
        <app-loading></app-loading>
        }
    </div>
</div>